<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>view: <TMPL_VAR NAME=PATH></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="./assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
   <script type="text/javascript">
function resize_h() {
    var nav = document.getElementsByClassName("navbar");
    var pagers = document.getElementsByClassName("pager");
    var ph = pagers.item(0).clientHeight;
    var navh = nav.item(0).clientHeight;
    var img = document.getElementById("pic");
    var computedHeight = window.innerHeight - navh - ph - 50;
    img.style.maxHeight = computedHeight + "px";
    var pl = document.getElementById("padme");
    var iw = img.clientWidth;
    // var iw = iws.replace("px","");
    var sw = document.getElementById("mc").clientWidth;
    var cw = ((sw / 2) - (iw/2)) ;
    pl.style.paddingLeft = cw + "px";
}
</script> 
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">EDITME</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="./index.html">Home</a></li>
              <li class="active"><a href="#">View Single Image</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="mc" class="container">
<div id="padme" style="text-algin: center; ">
                  <a href="<TMPL_VAR NAME=PATH>"><img id="pic" src="<TMPL_VAR NAME=PATH>" width=100% height=100% alt=""></a>
</div>
    <ul class="pager">
    <li class="previous">
    <a href="./<TMPL_VAR NAME=PREV>">&larr; Previous</a>
    </li>
    <li class="next">
    <a href="./<TMPL_VAR NAME=NEXT>">Next &rarr;</a>
    </li>
    </ul>         
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/jquery.touchwipe.min.js"></script>
    <script src="./assets/js/bootstrap-transition.js"></script>
    <script src="./assets/js/bootstrap-alert.js"></script>
    <script src="./assets/js/bootstrap-modal.js"></script>
    <script src="./assets/js/bootstrap-dropdown.js"></script>
    <script src="./assets/js/bootstrap-scrollspy.js"></script>
    <script src="./assets/js/bootstrap-tab.js"></script>
    <script src="./assets/js/bootstrap-tooltip.js"></script>
    <script src="./assets/js/bootstrap-popover.js"></script>
    <script src="./assets/js/bootstrap-button.js"></script>
    <script src="./assets/js/bootstrap-collapse.js"></script>
    <script src="./assets/js/bootstrap-carousel.js"></script>
    <script src="./assets/js/bootstrap-typeahead.js"></script>

<script type="text/javascript">
$(document.documentElement).keyup(function (event) {
  // handle cursor keys
  if (event.keyCode == 37) {
    window.location = "./<TMPL_VAR NAME=PREV>";
  } else if (event.keyCode == 39) {
    window.location = "./<TMPL_VAR NAME=NEXT>";
  }
});
$(document.documentElement).touchwipe({
     wipeLeft: function() { window.location = "./<TMPL_VAR NAME=PREV>"; },
     wipeRight: function() { window.location = "./<TMPL_VAR NAME=NEXT>"; },
     min_move_x: 20,
     min_move_y: 20,
     preventDefaultEvents: true
});
</script>
  </body>
</html>

