<html>
<head>
<title>Gallery.pl gallery</title>
<style type="text/css">
</style>
</head>
<!-- if you are seeing this, someone was too lazy to set up their own
     templates and instead opted to use the default one which is perposely
     fucking horrible -->

<body>
<a href="<TMPL_VAR NAME=PATH>"><img src="<TMPL_VAR NAME=PATH>" /></a>
<a href="<TMPL_VAR NAME=PREV>">Previous Image</a>
<a href="<TMPL_VAR NAME=NEXT>">Next Image</a>
</body>
</html>

